# Ignore bundler config
/.bundle

# Ignore the default SQLite database
/db/*.sqlite3

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Ignore RVM
/.rvmrc

# Ignore precompiled stuff
/public/assets/*

# Ignore fixtures
/test/fixtures/*

# Ignore RubyMine project files
/.idea

# Ignore database config
#/config/database.yml
