<div class="row-fluid">
  <div class="span4">
    <div class="hero-unit">
      <h1>Save It</h1>
      <p>Dead simple bookmarking that works everywhere</p>
      <p>
        <a class="btn btn-primary btn-large">
          Learn more
        </a>
      </p>
    </div>
  </div>

  <div class="span4">
    <h2>Sign in</h2>
    <%= render template: "devise/shared/_signin" %>
  </div>


  <div class="span4">
    <h2>Sign up</h2>
    <%= render template: "devise/shared/_signup" %>
  </div>
</div>
