<div class="hero-unit">
  <h1>Bookmarks? Fuck yeah!</h1>
  <p>Dead simple bookmarking that works everywhere</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
