<div class="row">
  <div class="span12">
    <% if current_user %>
      <%=  content_tag "div", "Loading...", id: "container", data: { bookmarks: current_user.bookmarks } %>
    <% else %>
      <%= render 'index.anonymous' %>
    <% end %>
  </div>
</div>
