<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span2">
        <h3>About</h3>
        <ul>
          <li><a href="/">About Alfaroa</a></li>
          <li><a href="/">Jobs</a></li>
          <li><a href="/">Press Resources</a></li>
          <li><a href="/">Press Releases</a></li>
        </ul>
      </div>
      <div class="span2">
        <h3>Features</h3>
        <ul>
          <li><a href="/">Twitter Bootstrap</a></li>
          <li><a href="/">HTML5 Markup</a></li>
          <li><a href="/">Google Web Fonts</a></li>
        </ul>
      </div>
      <div class="span2">
        <h3>Legal Info</h3>
        <ul>
          <li><a href="/">Terms of Use</a></li>
          <li><a href="/">Privacy Policy</a></li>
          <li><a href="/">Copyright Policy</a></li>
        </ul>
      </div>
      <div class="span2">
        <h3>Contact</h3>
        <ul>
          <li><a href="/">Contact Alfaroa</a></li>
          <li><a href="/">Partner With Us</a></li>
          <li><a href="/">Find an Expert</a></li>
        </ul>
      </div>
      <div class="span4">
        <h3>Feedback</h3>
        <p>Please send your feedback to <a href="mailto:feedback@saveit.in">feedback@saveit.in</a>.</p>
      </div>
    </div>
  </div>
</div>
