<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=321764964568044";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span2">
        <h3>About</h3>
        <ul>
          <li><%=  link_to "About Save It", controller: "static", action: "about" %></li>
        </ul>
      </div>
      <div class="span2">
        <h3>Legal Info</h3>
        <ul>
          <li><%=  link_to "Terms of Use", controller: "static", action: "eula" %></li>
          <li><%=  link_to "Privacy Policy", controller: "static", action: "privacy" %></li>
        </ul>
      </div>
      <div class="span2">
        <h3>Feedback</h3>
        <p>Please send your feedback to <a href="mailto:feedback@saveit.in">feedback@saveit.in</a>.</p>
      </div>
      <div class="span6">
        <h3>Spread The Word</h3>
        <ul>
          <li>
            <div class="fb-like" data-send="true" data-href="https://saveit.in" data-width="400" data-show-faces="false"></div>
          </li>
          <li>
            <a href="https://twitter.com/saveitin" class="twitter-follow-button" data-show-count="false">Follow @saveitin</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4734976-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
