  <div class="page-header">
    <h1>About Us</h1>
  </div>
  <div class="row">
    <div class="span7">
      <h2>Yet another bookmarking service?</h2>
      <p class="lead">There is a bunch of services to choose from. However we have built our own. There must have been a reason.</p>
      <p><a href="http://www.instapaper.com">Instapaper</a>, <a href="http://getpocket.com">Pocket</a>, <a href="http://kippt.com">Kippt</a> - these are the major bookmarking services. But none of them gave us "that's what I'm looking for!" feeling, so we decided to build a new bookmarking service. </p>
      <p>We don't have apps written for all possible devices - just visit <a href="https://saveit.in">saveit.in</a> in any mobile browser and it will work. We don't try to build a social network - it's just bookmarks - your personal bookmarks. We understand that and keep them private. We don't even want your email, why would we?</p>
      <p>If you are fed up with the complexity and bloat of major bookmarking services out there - try Save It. We use it every day, and we love it. </p>
    </div>
    <div class="span4 offset1">
      <div class="page-header">
        <h3>Our Team</h3>
      </div>
      <p><%#= image_tag "team.png", class: "thumb-right", alt: "The Team" %>
        We are an independent team of three people.
      </p>
    </div>
  </div>

