<div class="page-header">
  <h1>Terms of Use</h1>
</div>
<div class="row">
  <div class="span12">
    <p>By signing in and using our service you agree to our Terms of Use and Privacy Policy.</p>
    <p>Save It has the right to stop the service at any given time. Save It is not responsible
      for any loss of data whatsoever.</p>
    <p>We are not responsible for anything.</p>
    <p>Isn't it the shortest EULA ever?</p>
  </div>
</div>
