<div class="page-header">
  <h1>Privacy Policy</h1>
</div>
<div class="row">
  <div class="span12">
    <p>We keep your bookmarks and personal information private.</p>
    <p>We will not sell any information to anyone.</p>
    <p>We use cookies to keep you logged in and for our analytics, just like everyone else.</p>
  </div>
</div>


