<div class="page-header">
  <h1>Privacy Policy</h1>
</div>
<div class="row">
  <div class="span12">
    <p>Etiam sit amet fermentum nunc. Praesent in sollicitudin odio. Praesent auctor ante id nisi blandit gravida. Proin scelerisque imperdiet eros vitae ornare. Cras tristique mollis risus sed pharetra. Sed bibendum auctor dictum. Praesent auctor leo sit amet elit hendrerit faucibus. Mauris venenatis mauris non leo egestas a sodales erat mollis. Aenean cursus, diam quis egestas.</p>
    <p>Nullam erat neque, tincidunt aliquet cursus vitae, tincidunt eget nisi. Ut ante augue, rhoncus id semper quis, posuere nec leo. Aliquam nunc ipsum, aliquam vitae molestie nec, porttitor ut quam. Donec ac viverra elit. Sed.</p>
    <p>Etiam sit amet fermentum nunc. Praesent in sollicitudin odio. Praesent auctor ante id nisi blandit gravida. Proin scelerisque imperdiet eros vitae ornare. Cras tristique mollis risus sed pharetra. Sed bibendum auctor dictum. Praesent auctor leo sit amet elit hendrerit faucibus. Mauris venenatis mauris non leo egestas a sodales erat mollis. Aenean cursus, diam quis egestas.</p>
    <p>Nullam erat neque, tincidunt aliquet cursus vitae, tincidunt eget nisi. Ut ante augue, rhoncus id semper quis, posuere nec leo. Aliquam nunc ipsum, aliquam vitae molestie nec, porttitor ut quam. Donec ac viverra elit. Sed.</p>

    <p>Quisque venenatis, nunc in pretium vestibulum, ipsum turpis suscipit dolor, eu tempus lacus ligula sed leo. Mauris imperdiet, tortor scelerisque ultrices laoreet, urna sem dapibus risus, vitae egestas enim turpis vel est. Duis commodo nunc eget lectus rutrum vitae bibendum odio suscipit. Nullam dignissim libero at lacus dignissim ultrices. Vestibulum aliquet condimentum metus vel gravida. In tincidunt venenatis sapien, at varius diam gravida quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique elit in augue gravida pellentesque. Nam auctor malesuada eros. Nulla facilisi.</p>
  </div>
</div>


