@import compass
@import compass_twitter_bootstrap
@import compass_twitter_bootstrap_awesome
@import compass_twitter_bootstrap_responsive
@import "compass/layout/stretching"
@import "compass/css3/border-radius"

$lightGray: #d3d3d3
$screamingGreen: #006400
$tagBarDragBg: #ffffe0
$tagDragHoverBg: #b0c4de
$lawnGreen: #7cfc00

$borderRadius: 5px

@mixin cursor-grab
  cursor: hand !important
  cursor: grab !important
  cursor: -moz-grab !important
  cursor: -webkit-grab !important
@mixin cursor-grabbing
  cursor: hand !important
  cursor: grabbing !important
  cursor: -moz-grabbing !important
  cursor: -webkit-grabbing !important

.ui-draggable
  @include cursor-grab
.ui-draggable-dragging
  @include cursor-grabbing

body
  padding-bottom: 40px
  padding-top: 60px

.alert-notice
  @extend .alert-info


.label a
  color: $white
  text-decoration: none

.bookmarklet
  padding: 3px 5px

#tag-bar
  @extend .well
  padding: 8px 0

  .tag-hover
    .badge
      @extend .badge-success

  .add-tag-zone
    @include opacity(0.5)
    padding: 25px 10px
    text-align: center
    @include border-radius($borderRadius, $borderRadius)
    border: 3px dashed $lightGray


.drag-start
  background-color: $tagBarDragBg !important
  .tag-hover
    background-color: $tagDragHoverBg !important
    .badge
      @extend .badge-success
    .add-tag-zone
      color: $black
  .add-tag-zone
    border: 3px dashed $screamingGreen !important
    position: relative
    bottom: 0px
  .bookmark
    td
      background-color: $tagBarDragBg !important

.bookmark
  td
    padding-left: 20px
    .drag-tag
      display: none

    .dragger
      position: relative
      width: 10px
      height: 43px
      left: -14px
      top: 3px
      margin-bottom: -43px
      background: url(image-path('dragHandle.png')) no-repeat
      display: block
  .close
    display: none
  .date
    color: $lightGray
    font-size: 10px
    float: right

.bookmark:hover
  .close
    display: inline-block

.ninja
  padding: 0
  margin: 0
  min-height: 0px !important
