@import 'bootstrap_and_overrides.css.less'
// Copy of bootstrap variables for reference
@import 'variables.sass'
@import 'style.less'
@import "compass/css3/border-radius"
@import "compass/css3"

// Colors
$tagBarDragBg: $purple
$tagDragHoverBg: $green

// Variables
$borderRadius: 5px

// Grid bugfix

table [class*="span"], .row-fluid table [class*="span"]
  display: block
  float: left

// Mixins
@mixin cursor-grab
  cursor: hand !important
  cursor: grab !important
  cursor: -moz-grab !important
  cursor: -webkit-grab !important
@mixin cursor-grabbing
  cursor: hand !important
  cursor: grabbing !important
  cursor: -moz-grabbing !important
  cursor: -webkit-grabbing !important

// Draggable stuff
.ui-draggable
  @include cursor-grab
.ui-draggable-dragging
  @include cursor-grabbing

$tagBarDragBg: $yellow
$tagDragHoverBg: $orange

.drag-start
  background-color: $tagBarDragBg !important
  li
    background-color: $tagBarDragBg !important

  .tag-hover
    background-color: $tagDragHoverBg !important
    .badge
      @extend .badge-success
    .add-tag-zone
      color: $black
  .add-tag-zone
    position: relative
    bottom: 0px

// Settings

.settings-box
  form
    margin: 0
  .form-actions
    margin-bottom: 0
  .nav
    margin-bottom: 0
  margin: 0 auto !important
  float: none !important
  padding: 20px
  background: $white
  @include border-radius($borderRadius, $borderRadius)
  +box-shadow(#eaeaea 0px 2px 3px)

// Labels
.label
  a
    color: $white
    text-decoration: none
.label-big
  padding: 5px 15px
  font-size: 1.1em

// Misc

.table, .bookmark, #tag-bar
  +box-shadow(#eaeaea 0px 2px 3px)


// Bookmarklet
#bookmarklet
  line-height: 29px

// Bookmark
.bookmark
  @extend .well
  padding: 10px
  tr
    vertical-align: top
  .controls
    width: 20px
    text-align: right
  .preview
    min-width: 100px
    height: 100px
  .details
    word-wrap: break-word
    .title
      font-size: 1.1em
    .description
      margin-bottom: 10px
    width: 100%
    padding-left: 10px
  .tags
    .span
      display: inline
  .close
    display: none
    font-size:  1.5em
    margin-top: -2px
  .date
    font-size: 0.9em
    padding-bottom: 13px
    text-align: right
  .drag-tag
    overflow: hidden
    .preview
      min-width: 40px
      height: 40px
      font-size: 1px
    .details
      padding-left: 4px
    display: none
    font-size: 0.8em
    @include border-radius($borderRadius, $borderRadius)
    padding: 4px
    .link
      @extend a

.bookmark:hover
  .close
    display: inline-block

// Tag bar

#tag-bar

  margin-bottom: 20px

  table
    margin-bottom: 0px
    margin-top: 0px

  .tag
    a.close
      display: none
    .selected
      background-color: $white
      a.link
        font-weight: bold

  .tag:hover
    a.close
      display: inline-block

  .tag-hover
    .badge
      @extend .badge-success

  .add-tag-zone
    @include opacity(0.75)
    padding: 25px 10px
    text-align: center
    @include border-radius($borderRadius, $borderRadius)

  .tag-name
    width: 80%

// Grid hacks

.row-fluid.thin
  margin-bottom: -20px
