<!DOCTYPE html>
<html <% unless user_signed_in? %>class="welcome"<% end %> prefix="og: http://ogp.me/ns#">
<head>
  <%= render partial: 'commons/head' %>
<body>

<div id="navbar"></div>

<div id="content">
  <div class="container">
    <%= render 'alerts' %>
    <%= yield %>
  </div>
</div>

<%= render 'commons/footer' %>

<% if current_user %>
  <div id="settings"></div>
<% end %>

</body>
</html>
